/* #login { */
    /* background-image: url('assets/truck.svg');
    background-repeat: no-repeat;
    background-position: right;  */
    /* height: auto;    */

    /* padding: 0%;
    margin: 5%; */
/* } */

/* #form{
    background-color: rgba(0,0,0,0.2);
    width: 40%;
    height: 60%;
    
    margin-top: 10%;
    margin-bottom: 10%;

} */

#errorUsernameNull,#errorUsernameWrong,#errorPassNull{
    display: none;
}

#header{ 
  background: linear-gradient(90deg, rgb(0,0,0,0.2) 30%, #075FDA ,#043B8A);
}

body{
    background: radial-gradient(#075FDA 5%, #043B8A 80%); 
    /* margin: 0%;
    padding: 0%; */
}